/* General styling for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Profile image styling */
.homepage-profile-img {
  width: 50px;
  height: 100px;
  padding-top:100px;
}

.profile-img {
  width: 300px;
  height: 400px;
}

.profile-img1 {
  width: 50px;
  height: 50px;
}

/* Header styling */
body .ngwenjien header{
  background-color: #484849;
  color: white;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #484849;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #484849;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Section heading styling */
h2 {
  color: #7c4caf;
  margin-bottom: 10px;
}

/* Section content styling */
section {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
  background-color: #333;
  font-size : 12px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-top: 5px solid #484849;
  width: 100%;
  bottom: 0;
}
